@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    html
    {
        font-family: 'Poppins', system-ui, sans-serif;
    }
}

.outline-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.swiper-slide{
    min-height: 50vh;
}

.swiper-pagination {
    text-align: right;
    padding-right: 20px;
}